.box{
    background-color: cadetblue;
    border: width 5px;
    border-style:solid;
    border-color:red;
}
 .name{
    border: width 5px;
    border-style: double;
    border-color: black;
    text-align: center;
    text-decoration-line: line-through;
    text-decoration-color:chartreuse;
    text-decoration-style:solid;
    text-decoration-thickness:3px ;
    text-shadow:2px 2px 2px red;
    box-shadow: 2px 5px 10px 5px red;

}

 .link{
    text-decoration:none ;
    background-color: green;
    padding:5px 10px;
    color:white ;
    transition-duration: 1.5s;
 }
    
.link:hover{
    background-color: brown;
    padding:5px 20px ;
    color: black;
    transition-duration: 1.5s;
}
.soft{
    border-width:5px ;
    border-style:dashed ;
    border-color: yellow;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    text-decoration-style: solid;
    text-decoration-thickness:3px;

}

p:first-child{
    color: purple;
}
p:nth-child(even){
    color: darkred;
}
}

html{
    direction: ltr;
    text-align: justify;
}